body {
	height: 100%;
	background-color: #1b1c1e;
	/*background-image: url(futurama_bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(#1b1c1e, #4c6a6e);
	/*background-size: 800% 400%;*/
	font-family: 'Oswald', sans-serif;
	/*overflow: scroll;*/
	/*what is making page static?*/
	background-attachment: fixed;
}

#container {
	width: 100%;
	height: 100%;
}

.stat-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*flex-flow: row wrap;*/
}

.UserStats {
	border: 1px white solid;
	background-color: rgba(27,28,30,0.5);
	color: white;
	height: 500px;
	width: 400px;
	margin: 50px;
}


.GlobalStats {
	border: 1px white solid;	
	background-color: rgba(27,28,30,0.5);
	color: white;
	width: 400px;
	margin: 50px;
}


.user-top, .global-top {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 50px;
	letter-spacing: 2px;
}

.stat-buttons {
	background-color: black;
	text-align: center;
	margin: 0px 10px 0px 10px;
}