body {
	height: 100%;
	background-color: #1b1c1e;
	/*background-image: url(futurama_bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(#1b1c1e, #4c6a6e);
	/*background-size: 800% 400%;*/
	font-family: 'Oswald', sans-serif;
	/*overflow: scroll;*/
	/*what is making page static?*/
	background-attachment: fixed;
}

#container {
	width: 100%;
	height: 100%;
}

.stat-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*flex-flow: row wrap;*/
}

.UserStats {
	border: 1px white solid;
	background-color: rgba(27,28,30,0.5);
	color: white;
	height: 500px;
	width: 400px;
	margin: 50px;
}


.GlobalStats {
	border: 1px white solid;	
	background-color: rgba(27,28,30,0.5);
	color: white;
	width: 400px;
	margin: 50px;
}


.user-top, .global-top {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 50px;
	letter-spacing: 2px;
}

.stat-ul {
	list-style: none;
}
.stat-li {
	vertical-align: center;
}


.stat-button-cont {
	/*background-color: black;*/
	text-align: center;
	/*margin-bottom: 30px;*/
}
.sb {
  margin: 0px 15px 0px 15px;
	/*margin: 50px;*/
  width: 100px;
  height: 38px;
  border-radius: 2px;
  padding: 5px;
  color: #fafafa;
  cursor: pointer;
  font-variant: center;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 50px;
  background: transparent;
  border: 1px solid white;

  text-decoration: none;

  align-self: center;

  transition: background-color 0.3s ease-out,
              color 0.2s ease-out,
              letter-spacing 0.2s ease-out,
              text-transform 0.2s ease-out;
}
.sb:hover {
  background-color: rgba(255,255,255,0.8);
  color: #333333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out,
                color 0.5s ease-out,
                letter-spacing 0.1s ease-out,
                font-weight 0.3s ease-out,
                text-transform 0.1s ease-out;
}

.stata {
	text-decoration: none;
	color: #1b1c1e;
}
