body {
	background-color: #1b1c1e;
	background-image: url(futurama_bg.jpg);
	background-repeat: no-repeat;
/*	background-size: cover;*/
	background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
	background-size: 200% 200%;
	font-family: 'Oswald', sans-serif;
	/*overflow: scroll;*/
	/*what is making page static?*/
	background-attachment: initial;
}


#container {

}

.formBox {
	background-color: rgba(27,28,30,0.5);
	align-self: center;
	width: 600px;
	height: 500px;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
	align-items: center;
	margin: 60px auto;
	border-radius: 8px;
	border: 1px solid #444444;
	/*overflow: scroll;*/
	animation: shwoop .3s ease-in-out;
  	transform: scaleY(1);
}
@keyframes shwoop {
  0% {
    top: (0px);
    transform: scaleY(0);
  }
  100% {
    bottom: (100px);
    transform: scaleY(1);
  }
}


.signup-inputContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px;
	padding: 0px;
	height: 800px;
	width: 600px;
}

.user {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: lighter;
	margin: 5px;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;
}
.user:hover {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.user:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}


.pass {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          	color 0.2s ease-out,
          	letter-spacing 0.1s ease-out;
}
.pass:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.pass:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.first {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          	color 0.2s ease-out,
          	letter-spacing 0.1s ease-out;
}
.first:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.first:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}


.last {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          	color 0.2s ease-out,
          	letter-spacing 0.1s ease-out;
}
.last:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.last:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}


.age {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.age:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.age:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.gender {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.gender:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.gender:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.zodiac {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.zodiac:hover {
	color: #FFFFFF;	
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.zodiac:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.state {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;	
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.state:hover {
	color: #FFFFFF;	
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.state:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.email {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;	
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.email:hover {
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.email:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}


.other-email {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;	
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;  
}
.other-email:hover {
	color: #FFFFFF;	
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.other-email:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}




button {
	width: 100px;
	height: 38px;
	border: none;
	border-radius: 2px;
	padding: 5px;
	color: #fafafa;
	cursor: pointer;
	font-variant: center;
	letter-spacing: 0px;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 50px;
	background: transparent;
	border: 1px solid white;

	align-self: center;

	transition: background-color 0.3s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.2s ease-out,
          		text-transform 0.2s ease-out;
}
button:hover {
	background-color: rgba(255,255,255,0.8);
	color: #333333;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: background-color 0.5s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.1s ease-out,
              	font-weight 0.3s ease-out,
              	text-transform 0.1s ease-out;
}

.hOne h1 {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	align-self: flex-start;
	align-items: center;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 10px;
}
