body {
  background-color: #1b1c1e;
/*  background-image: url(futurama_bg.jpg);*/
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
  background-size: 200% 200%;
  font-family: 'Oswald', sans-serif;

}
#container {
  display: block;
  width: 100%;
  height: 100%;
}
#modal {
  /*modal*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  display: block;
  background-color: #000000;
  width: 100%;
  height: 100%;
/*---TUTORIAL ON MODAL FROM W3SCHOOL---*/

  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 30px;

  padding: 0px;
}
.cat-content {
  display: block;
  margin: 0;
  /*z-index: 1;*/
  /*padding: 50px;*/
  /*background-size: cover;*/
  width: 100%;
  height: 100%;
  margin: 0;
}


.ugh-content {
display: flex;
height: 100%;
flex-flow: column;
/*justify-content: center;*/
background-color: black;
margin: 0;
}
.main-box {
  width: 560px;
  height: 560px;
  background-color: #000000;
  margin: auto;
  /*position: absolute;*/
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

}
.hOne {
margin: 0;
}
.catH1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 70px;
  /*align-self: flex-start;*/
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.cat-button {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 2px;
  padding: 5px;
  color: #fafafa;
  cursor: pointer;
  font-variant: center;
  letter-spacing: 1px;
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  align-self: center;
  transition: background-color 0.3s ease-out,
              color 0.2s ease-out,
              letter-spacing 0.2s ease-out,
              text-transform 0.2s ease-out;
}
.cat-button:hover {
  background-color: rgba(255,255,255,0.8);
  color: #333333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out,
                color 0.5s ease-out,
                letter-spacing 0.1s ease-out,
                font-weight 0.3s ease-out,
                text-transform 0.1s ease-out;
}
.q-cont {
  z-index: 0;
  background-color: #000000;
  display: block;
  margin: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  position: fixed;
  /*overflow: hidden; */
}
.qq {
  display: block;
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.q-button {
  width: 250px;
  height: 100px;
  margin: 10px;
  padding: 0;
  position: relative;
  border-radius: 2px;
  color: #fafafa;
  cursor: pointer;
  font-variant: center;
  letter-spacing: 1px;
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  align-self: center;
  transition: background-color 0.3s ease-out,
              color 0.2s ease-out,
              letter-spacing 0.2s ease-out,
              text-transform 0.2s ease-out;
}
.q-button:hover {
  background-color: rgba(255,255,255,0.8);
  color: #333333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out,
                color 0.5s ease-out,
                letter-spacing 0.1s ease-out,
                font-weight 0.3s ease-out,
                text-transform 0.1s ease-out;
}
.theQuestion {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}
.complete {
  display: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: orange;

  font-size: 50px;
  padding-top: 0;
  text-align: center;
  top: 30px;
  left: 0;
  position: fixed;
}


/*#box {
    background-color: red;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 600px;
    left: 150px;
    }*/
/*#line{
  background-image: url("line.png");
  background-size: 500px;
}*/
  /*font-size: 50px;
  padding-top: 0;
  text-align: center;
  top: 30px;
  position: fixed;
}*/

.ccbutton {
  font-family: /*'Oswald', sans-serif;*/ georgia;
  /*margin: 0px 10px;*/
  width: 100px;
  height: 38px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  color: #fafafa;
  cursor: pointer;
  font-variant: center;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 50px;
  background: transparent;
  border: 1px solid white;
text-decoration: none;
  align-self: center;
  transition: background-color 0.3s ease-out,
              color 0.2s ease-out,
              letter-spacing 0.2s ease-out,
              text-transform 0.2s ease-out;
}
.ccbutton:hover {
  background-color: rgba(255,255,255,0.8);
  color: #333333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out,
                color 0.5s ease-out,
                letter-spacing 0.1s ease-out,
                font-weight 0.3s ease-out,
                text-transform 0.1s ease-out;
}
.cclink {
  text-decoration: none;
  color: #fafafa;
}
.cclink:hover {
  color: #333333;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

