body {
  background-color: #1b1c1e;
/*  background-image: url(futurama_bg.jpg);*/
  background-repeat: no-repeat;

  background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
  background-size: 200% 200%;
  font-family: 'Oswald', sans-serif;
}
#new-container {
  /*modal*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*.ugh {
  justify-content: space-around;
}*/

.box-container {
display: flex;
height: 800px;
justify-content: center;
}

.main-box {
  width: 560px;
  height: 560px;
  background-color: black;
  margin: auto;

  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 180px;
  height: 180px;
}

/*.hOne {
  display: flex;
  justify-content: center;
}*/
.catH1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 70px;
  /*align-self: flex-start;*/
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.q-cont {

}

