body {
	background-color: #1b1c1e;
	background-image: url(futurama_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
	background-size: 200% 200%;
	font-family: 'Oswald', sans-serif;

   /* background: -moz-linear-gradient(#1b1c1e, #3b595d);
    background: linear-gradient(#1b1c1e, #3b595d);*/

/*	-webkit-animation: animatedgrad 30s ease infinite;
	-moz-animation: animatedgrad 30s ease infinite;
	animation: animatedgrad 30s ease infinite;*/
}


#container {
/*	height: 500px;
	align-items: center;*/
}

#modal {
  /*modal*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/

/*---TUTORIAL ON MODAL FROM W3SCHOOL---*/
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 30px;
  padding: 0px;
}

.userBox {
	background-color: rgba(27,28,30,0.5);
	align-self: center;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px auto;
	border-radius: 8px;
	border: 1px solid #444444;
	animation: shwoop .3s ease-in-out;
  	transform: scaleY(1);
}

@keyframes shwoop {
  0% {
    top: (0px);
    transform: scaleY(0);
  }
  100% {
    bottom: (100px);
    transform: scaleY(1);
  }
}



.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
}

.user {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: lighter;
	margin: 5px;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;
}
.user:hover {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}
.user:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}


.pass {
	width: 230px;
	height: 30px;
	border: 1px solid white;
	border-radius: 2px;
	padding: 5px;
	margin: 10px;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 5px;
	font-weight: lighter;
	color: #555555;
	background-color: rgba(255,255,255,0.1);
	transition: background-color 0.2s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.1s ease-out;

}
.pass:hover {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	letter-spacing: 5px;
	transition: background-color 0.3s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.2s ease-out;
}

.pass:focus {
	background-color: rgba(255,255,255,0.3);
	color: #FFFFFF;
	letter-spacing: 5px;
}

.login-button {
	width: 100px;
	height: 38px;
	border: none;
	border-radius: 2px;
	padding: 5px;
	color: #fafafa;
	cursor: pointer;
	font-variant: center;
	letter-spacing: 1px;
	font-size: 16px;
	margin-top: 50px;
	background: transparent;
	border: 1px solid white;

	transition: background-color 0.3s ease-out,
          		color 0.2s ease-out,
          		letter-spacing 0.2s ease-out,
          		text-transform 0.2s ease-out;
}
.login-button:hover {
	background-color: rgba(255,255,255,0.8);
	color: #333333;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: background-color 0.5s ease-out,
              	color 0.5s ease-out,
              	letter-spacing 0.1s ease-out,
              	font-weight 0.3s ease-out,
              	text-transform 0.1s ease-out;
}

.login-su {
	letter-spacing: 2px;
	font-style: none;
	text-decoration: none;
	color: #4c6a6e;
	font-size: 14px;
	font-weight: lighter;
}
.login-su:hover {
	color: #7f9d9f;
	font-weight: normal;
	font-size: 14px;
}

.hOne h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	align-self: flex-start;
	align-items: center;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 10px;
}

.or {
	letter-spacing: 2px;
	color: #4c6a6e;
	font-size: 12px;
	font-weight: lighter;
	/*line-height: 50px;*/
}

/*
@-webkit-keyframes animatedgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes animatedgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes animatedgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}*/
