#container {
/*	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;*/
}

.main-box {
	height: 940px;
	width: 940px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

button {
	height: 300px;
	width: 300px;
}