.navi {
	width: 100%;
	height: 30px;
	background-color: black; 

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	display: inline;
	/*border: 1px white solid;*/
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 1px;
	padding: 8px;
	margin: 0px;
}
.navA:hover {
	font-size: 12px;
	font-weight: normal;
	line-height: 10px;
	letter-spacing: 1px;
	padding: 0px;
	margin: 0px;
}

h1.navhead {
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2px;
	padding: 1px;
	margin: 0;
}