body {
/*	background-image: url(./starterBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;*/
	background-color: #101010;
	/*change bg color later - darker grey*/
	/*overflow: hidden;*/
}

#container {
}

.bg {
	background-image: url(./starterBG-edit.png);
	background-attachment: fixed;
	background-color: #1b1c1e;
/*	object-fit: cover;*/
	background-size: 1350px 800px;
	/*background-size: contain;*/
	position: absolute;
	background-repeat: no-repeat;
	height: 950px;
	width: 100%;
  	box-shadow: inset 0px -200px 200px 100px rgba(0,0,0,1);

	/*background: red; 
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 

*/

/*	height: 1200px;
	width: 1920px;*/
}

/*how to make the bg image static, 
no maintain ratio w/ window size*/

.robotrivalry {
	display: inline-block;
/*	color: white;*/
	border: 1px solid white;
	height: 100px;
	width: 200px;
	position: absolute;
	top: 310px;
	left: 655px;
	background: transparent;
	color: transparent;
	text-align: center;
	margin: auto;
		/*font-size: 36px;*/
}
/*.robotrivalry:hover {
	background-color: transparent;
	color: #000000;
}*/
.start-game {
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none;
	color: transparent;
	font-size: 35px;
	font-weight: bold;
}
.start-game:hover {
	background-color: transparent;
	color: #000000;
}

.cookingmama {
	display: inline-block;
	color: white;
	border: 1px solid white;
	height: 120px;
	width: 145px;
	position: absolute;
	top: 260px;
	left: 5px;
}

.pokemon {
	display: inline-block;
	color: transparent;
	border: 1px solid white;
	height: 90px;
	width: 130px;
	position: absolute;
	top: 300px;
	left: 455px;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
}
.pokemon:hover {
	background-color: transparent;
	color: #dddddd;


}