body {
/*	background-image: url(./starterBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;*/
	background-color: #101010;
	/*change bg color later - darker grey*/
	overflow: hidden;
}

.container {
}

.bg {
	background-image: url(./starterBG.jpg);
	background-attachment: fixed;
	background-color: #1b1c1e;
/*	object-fit: cover;*/
	background-size: 1350px 800px;
	/*background-size: contain;*/
	position: absolute;
	background-repeat: no-repeat;
	height: 950px;
	width: 100%;

	/*background: red; 
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); 
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 

*/

/*	height: 1200px;
	width: 1920px;*/
}

/*how to make the bg image static, 
no maintain ratio w/ window size*/

.robotrivalry {
	display: inline-block;
/*	color: white;*/
	border: 1px solid white;
	height: 100px;
	width: 200px;
	position: absolute;
	top: 340px;
	left: 655px;
	background: transparent;

}

.robotrivalry:hover {
	background-color: transparent;
}

.cookingmama {
	display: inline-block;
	color: white;
	border: 1px solid white;
	height: 120px;
	width: 145px;
	position: absolute;
	top: 290px;
	left: 5px;
}

.pokemon {
	display: inline-block;
	color: white;
	border: 1px solid white;
	height: 100px;
	width: 130px;
	position: absolute;
	top: 330px;
	left: 455px;
}