body {
	background-image: url(./starterBG.jpg);

}

.container {
	background-image: url(./starterBG.jpg);
background-color: black;
height: 100px;
width: 100px;

}

.robotrivalry {
	color: black;
}

.cookingmama {
	color: white;
}

.pokemon {
	color: white;
}