body {
	background-color: #1b1c1e;
	/*background-image: url(futurama_bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
	background-size: 200% 200%;
	font-family: 'Oswald', sans-serif;
	/*overflow: scroll;*/
	/*what is making page static?*/
	background-attachment: initial;
}


#container {
	height: 100%;
	width: 100%;
	display: 
}

.question-item {
}

.the-question {

}


.q {
	border: 1px solid white;
	padding: 10px;
}