#container {
	display: block;

}

.userBox {
	margin: auto;
	width: 50vh;
	display: flex;
	flex-flow: row wrap;
}

input {

}

button {
	height: 20px;
	width: 60px;
	border: none;
	border-radius: 3px;
}