body {
	background-color: #1b1c1e;
/*	background-image: url(futurama_bg.jpg);*/
	background-repeat: no-repeat;

	background: linear-gradient(180deg, #1b1c1e, #4c6a6e);
	background-size: 200% 200%;
	font-family: 'Oswald', sans-serif;
}

.ugh {

}

.box-container {
display: flex;
height: 800px;

}

.main-box {
	width: 600px;
	height: 600px;
	background-color: black;
	margin: auto;

	position: absolute;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.box {
	position: relative;
	width: 190px;
	height: 190px;
}

.hOne h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	align-self: flex-start;
	align-items: center;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 10px;
}

